/* ProductDetail.css */

.product-detail-container {
    padding: 50px;
  }
  
  .square-box {
    height: 600px; /* Set the desired height for the square box */
    object-fit: cover;
  }
  .product{
    display: flex;
    justify-content: space-between;
    
  }
  